In [1]:
import pandas as pd

df_image = pd.read_csv("../csv/train_image_level.csv")
df_study = pd.read_csv("../csv/train_study_level.csv")

In [9]:
display(df_image.columns)
display(df_image.shape)
display(df_image.head())

Index(['id', 'boxes', 'label', 'StudyInstanceUID'], dtype='object')

(6334, 4)

,id,boxes,label,StudyInstanceUID
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e

In [10]:
display(df_study.columns)
display(df_study.shape)
display(df_study.head())
df_study["StudyInstanceUID"] = df_study["id"].str.split("_").str[0]
display(df_study.head())

Index(['id', 'Negative for Pneumonia', 'Typical Appearance',
       'Indeterminate Appearance', 'Atypical Appearance'],
      dtype='object')

(6054, 5)

,id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
0,00086460a852_study,0,1,0,0
1,000c9c05fd14_study,0,0,0,1
2,00292f8c37bd_study,1,0,0,0
3,005057b3f880_study,1,0,0,0
4,0051d9b12e72_study,0,0,0,1

,id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance,StudyInstanceUID
0,00086460a852_study,0,1,0,0,00086460a852
1,000c9c05fd14_study,0,0,0,1,000c9c05fd14
2,00292f8c37bd_study,1,0,0,0,00292f8c37bd
3,005057b3f880_study,1,0,0,0,005057b3f880
4,0051d9b12e72_study,0,0,0,1,0051d9b12e72

In [28]:
df_image["StudyInstanceUID"].value_counts()

0fd2db233deb    9
a7335b2f9815    7
8943d1d85097    6
970c96c9fa5d    5
a4e94133d95a    5
               ..
66c34b9e2573    1
dd7aeb805eef    1
4180aa686422    1
a7b4d14caf36    1
40510039029d    1
Name: StudyInstanceUID, Length: 6054, dtype: int64

In [36]:
df_train = pd.merge(df_image, df_study, on=['StudyInstanceUID'], how="inner")
df_train.columns

Index(['id_x', 'boxes', 'label', 'StudyInstanceUID', 'id_y',
       'Negative for Pneumonia', 'Typical Appearance',
       'Indeterminate Appearance', 'Atypical Appearance'],
      dtype='object')

In [41]:
df_train[['boxes', 'label']].head(0)

,boxes,label
0,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....

In [44]:
df_train.loc[0, ['boxes', 'label']]["boxes"]

"[{'x': 789.28836, 'y': 582.43035, 'width': 1026.65662, 'height': 1917.30292}, {'x': 2245.91208, 'y': 591.20528, 'width': 1094.66162, 'height': 1761.54944}]"

In [46]:
df_train.loc[0, ['boxes', 'label']]["label"]

'opacity 1 789.28836 582.43035 1815.94498 2499.73327 opacity 1 2245.91208 591.20528 3340.5737 2352.75472'

In [50]:
1815.94498 - 789.28836

1026.65662

In [51]:
2499.73327 - 582.43035

1917.30292